.btn-add {
    color: #fff;
    background-color: 	#2E8B57;
    border-color: 	#2E8B57;
  }
  .btn-add:focus,
  .btn-add.focus {
    color: #fff;
    background-color: #3CB371;
    border-color: #3CB371;
  }
  .btn-add:hover {
    color: #fff;
    background-color:#3CB371;
    border-color: #3CB371;
  }
  .btn-add:active,
  .btn-add.active,
  .open > .dropdown-toggle.btn-add {
    color: #fff;
    background-color: #3CB371;
    background-image: none;
    border-color: #3CB371;
  }
  .btn-add:active:hover,
  .btn-add.active:hover,
  .open > .dropdown-toggle.btn-add:hover,
  .btn-add:active:focus,
  .btn-add.active:focus,
  .open > .dropdown-toggle.btn-add:focus,
  .btn-add:active.focus,
  .btn-add.active.focus,
  .open > .dropdown-toggle.btn-add.focus {
    color: #fff;
    background-color: #3CB371;
    border-color: #3CB371;
  }
  .btn-add.disabled:hover,
  .btn-add[disabled]:hover,
  fieldset[disabled] .btn-add:hover,
  .btn-add.disabled:focus,
  .btn-add[disabled]:focus,
  fieldset[disabled] .btn-add:focus,
  .btn-add.disabled.focus,
  .btn-add[disabled].focus,
  fieldset[disabled] .btn-add.focus {
    background-color: #3CB371;
    border-color: #3CB371;
  }
  .btn-add {
    color: white;
    background-color: #2E8B57;
  }
