<h2><span>🤩</span>Your rent(Total: {{amount | currency}})</h2>
<div class="divParentTable">
<table>
<tbody>
 <tr *ngFor="let bicycle of bicycles; let i = index " [attr.id]="bicycle.id" | async> 
    <th scope="row">
    <td class="tdName" style="padding-left: 36px;">{{bicycle.name}}</td>
      <td class="tdSlash"><span>/</span></td>
      <td class="tdType">{{bicycle.type | async}}<td>
        <td class="tdSlash"><span>/</span></td>
      <td class="tdPrice">{{bicycle.price | currency | async}}</td>
  <td class="tdButton" style="padding-right:30px"><button style="float:right" type="submit" class="btn btn-danger btn-dlt" id="removeButton" (click)="updateRent(bicycle.id, bicycle)">Cancel Rent</button></td>
  </tr> 
</tbody>
</table>
</div>