body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color:lightgray;
    height: 100%;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    height: 93vh;
    width: 900px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.body-content h1{
    font-size: 30px;
    padding-bottom: 25px;
}

.body-content h2{
    font-size: 22px;
    padding-bottom: 13px;
}

#CreateNewRent, #YourRent, #AvaliableBicycles{

    margin-bottom: 50px;
}



.form-row{
    min-width: 100%;
}

.col{

    margin-left: 25px;
    /* margin-right: 12px; */
}


input[type=number]{
    width: 160px;
}



.divParentAdd{
    background-color: silver;
    height: 120px;
    width: 100%;
    position: relative;
    

}
.divParentTable{
    height: 120px;
    width: 100%;
    position: relative;
    height: auto;

}

.formEl{
    height: 100px;
    width: 100%; 

    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%; left: 47%; 
    transform: translate(-50%,-43%);
    
}

.large{
    width:200px;
}
.small{
    width:100px;
}


table { 

    border-collapse:separate; 
    border-spacing:0 15px; 
    width: 100%;
    padding-bottom: 30px;
}
tr {
    background-color: white;
    border:1px solid white;
    height: 60px;
    width: 800px;
}

th, td{
    padding-bottom: 5px; 
}
td{
    padding-right: 5px;
}

 .tdName{
width: 200px;
}

.tdType{
width: 20px;
}

.tdPrice{
width: 10px;
}


.tdEmpty{
width: 330px;
} 

.tdButton{
    width: 170px;
}

.tdSlash{
    width: 39px;
    height: 39px;
}


.btn-rent{
    width:121.49px;
}



.btn-dlt{
    width:121.49px;
}